header {
    background-color: #003e70;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

#header_title {
    color: white;
    font-weight: 500;
    font-size: 2.3rem;
    margin: 0;
    order: 1;
}

#branding {
    margin-left: 1vw;
    margin-right: 5vw;
    height: 50px;
}
