<div class="info-cards-container">
    <h1>
        Testversion
    </h1>
    
    <div class="info-cards-section">
        @for(infoCard of infoCards; track infoCard) {
            <div class="card info-card shadow-sm" (click)="setExampleText(infoCard);">
                <div class="card-body">
                    <h4 class="info-card-title"> 
                        <span [innerHTML]="infoCard.icon" class="card-icon"></span> {{ infoCard['title'] }} 
                    </h4>
                    <p class="card-text"> {{ infoCard['body'] }} </p>
                </div>
            </div>
        }
</div>

