.info-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-cards-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-card {
    text-align: left;
    border-radius: 20px;
    margin: 10px;
    width: calc(33.333% - 20px);

    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), 
                box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.info-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-color: #002b4f;
    cursor: pointer;
}

.info-card p {
    font-size: 1.3rem;
}

.info-card h4 {
    font-size: 1.6rem;
    color: #002b4f;
}

h1 {
    font-size: 55px;
    margin-bottom: 50px;
}