<div class="data-safety-icons">
    <i class="bi bi-trash delete-context-icon" title="Chat Kontext löschen" (click)="deleteChatContext()"></i>
    <div class="safetyIcon">
        <i class="bi bi-shield-check default-icon"></i>
        <i class="bi bi-shield-fill-check hover-icon"></i>
        <span class="safetyIconText"><p>Der Chatverlauf wird für 24 Stunden gespeichert, um den Gesprächskontext zu erhalten. Deine Daten werden vertraulich und sicher behandelt.</p></span>
    </div>
</div>


<div class="d-flex justify-content-center" style="bottom: 10vh;">
    <div class="chat-container w-100" style="max-width: 80vw;">
        <div class="chat">
            @if(messages.length > 0) {
                @for(message of messages; track message) {
                    <div class="chat-message {{ message.type }} {{ message.status }}">
                        <p class="message-text">{{ message.text }}</p>
                    </div>
                }
            } @else {
                <app-info-cards (cardClicked)="setExampleText($event);"></app-info-cards>
            }
        </div>
    </div>
</div>

<form class="start-0 end-0 p-3" style="bottom: 10vh;" (submit)="sendMessage()">
    <div class="input-group container">
        <input 
            type="text" 
            class="form-control form-control-lg shadow text-field" 
            name="prompt"
            placeholder="Nachricht"
            autocomplete="off"
            [(ngModel)]="textFieldValue"
        >
        @if (!generatingResponse) {
            <button class="btn btn-dark col-1 shadow send-button" type="submit">
                <i class="fa fa-arrow-up"></i>
            </button> 
        } @else { 
            <button class="btn btn-dark col-1 shadow send-button" type="button" (click)="cancel();  $event.preventDefault()">
                <i class="fa fa-stop"></i>
            </button>
        }
    </div>
</form>
  