<div class="chat-text-area-container">
    <form (submit)="buttonClicked()">
        <ng-container *ngFor="let textArea of renderedContent; trackBy: trackByFn; let i = index">
            <div class="text-field-title">
                <p>{{ textArea['title'] }}</p>
            </div>
            <input 
                type="text" 
                class="form-control form-control-lg text-field {{ textArea['highlight'] }}" 
                name="{{ i }}"
                placeholder="{{ textArea['placeholder'] }}"
                autocomplete="off"
                [(ngModel)]="textArea['value']"
                [readonly]="submitted"
                id="input{{ i}}"
            >     
        </ng-container>
        
        <div *ngIf="!submitted" class="submit-info">
            <div>
                <span *ngIf="questionIndex + 1 != numberOfQuestions" >{{ questionIndex + 1}}/{{ numberOfQuestions }}</span>
            </div>
            <button class="btn col-1 submit-button" type="submit">
                Weiter
            </button>
        </div>
    </form> 
</div>