.text-field{
    height: 4vh;
    font-size: 1.5rem;
    border-radius: 25px;
}

.send-button {
    font-size: 1.7rem;
    border-radius: 20px;
}

.text-field:disabled {
  background-color: #ebebeb;
  color: #888;
  border: 1px dashed #ccc;
  cursor: not-allowed;
}