<div>
    <form class="row input-form">
        <div class="input-group justify-content-center">
            <div class="col-8">
                <input 
                    type="text" 
                    class="form-control" 
                    name="promt"
                    placeholder="Wobei benötigen sie Hilfe?"
                >
            </div>
            <button 
                class="btn btn-dark col-auto" 
                type="button">
                <i class="fa fa-arrow-up"></i>
            </button>
        </div>
    </form>
</div>